<br />
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form method="post" action="/Home/AddPicture">
            <input name="Title"type="text" placeholder="Title"/>
            <br />
            <input type="hidden"name="Date" value="@DateTime.Now"/>
            <br />
            <input placeholder="Picture URL" name="PictureURL"/>
            <button class="btn btn-primary">Submit</button>
        </form>

        </div>
    </div>


